See https://github.com/ranaroussi/yfinance

To install, run

```bash
pip install yfinance
```

In [1]:
using PyCall
yf = pyimport("yfinance")

PyObject <module 'yfinance' from 'D:\\.julia\\conda\\3\\lib\\site-packages\\yfinance\\__init__.py'>

In [2]:
msft = yf.Ticker("MSFT")

PyObject yfinance.Ticker object <MSFT>

In [3]:
msft.info

Dict{Any, Any} with 123 entries:
  "tradeable"                    => false
  "market"                       => "us_market"
  "dayLow"                       => 256.61
  "sharesShort"                  => 46469032
  "priceToBook"                  => 14.4452
  "sharesOutstanding"            => 7531570176
  "nextFiscalYearEnd"            => 1656547200
  "threeYearAverageReturn"       => nothing
  "legalType"                    => nothing
  "address1"                     => "One Microsoft Way"
  "regularMarketPreviousClose"   => 257.24
  "priceHint"                    => 2
  "askSize"                      => 1100
  "fundFamily"                   => nothing
  "regularMarketVolume"          => 18999731
  "trailingEps"                  => 7.338
  "ask"                          => 257.7
  "lastSplitDate"                => 1045526400
  "priceToSalesTrailing12Months" => 12.1418
  "city"                         => "Redmond"
  "morningStarOverallRating"     => nothing
  "maxSupply"                    => nothing
  "averageVolume10days"          => 22571071
  "dayHigh"                      => 258.487
  "bid"                          => 257.77
  ⋮                              => ⋮

In [4]:
hist = msft.history(period="max")

PyObject                   Open        High  ...  Dividends  Stock Splits
Date                                ...
1986-03-13    0.056108    0.064359  ...        0.0           0.0
1986-03-14    0.061608    0.064909  ...        0.0           0.0
1986-03-17    0.063809    0.065459  ...        0.0           0.0
1986-03-18    0.064909    0.065459  ...        0.0           0.0
1986-03-19    0.063258    0.063809  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2021-06-07  249.979996  254.089996  ...        0.0           0.0
2021-06-08  255.160004  256.010010  ...        0.0           0.0
2021-06-09  253.809998  255.529999  ...        0.0           0.0
2021-06-10  254.289993  257.459991  ...        0.0           0.0
2021-06-11  257.989990  258.489990  ...        0.0           0.0

[8885 rows x 7 columns]

In [5]:
msft.actions

PyObject             Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0
2020-11-18       0.56           0.0
2021-02-17       0.56           0.0
2021-05-19       0.56           0.0

[79 rows x 2 columns]